<html ng-app="fireTicToeApp">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <!-- endbower -->
    <script src="js/domain.js"></script>
    <script src="js/main.js"></script>
    <script src="js/user.js"></script>
</head>
<body ng-controller="mainController">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <h3>
                    Tictoe
                </h3>
                <table class="table table-bordered table-hover">
                    <tr ng-repeat="i in [0,1,2]">
                        <td ng-repeat="j in [0,1,2]"
                            ng-class="{clickable: cell(i,j)==0}"
                            ng-style="{width:50, 'height':50, 'font-size': 50-10, 'line-height': 50 - 10 + 'px'}"
                            ng-click="move($parent.$index, $index)">
                            <span ng-show="cell(i,j)>0">
                                {{(cell(i,j)==1)?'X':'O'}}
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>