<html ng-app="fireTicToeApp">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.css" />
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <!-- endbower -->
    <script src="js/domain.js"></script>
    <script src="js/main.js"></script>
    <script src="js/user.js"></script>
    <style>
        .cell {
            float: left;
            width: 30%;
            padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
            margin: 1.66%;
            background-color: lightgreen;
            background-size: 100% auto;
        }
        .x {
            background-image: url(x.png);
        }
        .o {
            background-image: url(o.png);
        }
     
    </style>
</head>
<body ng-controller="mainController">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <h1>
                    Tictoe game <span class="label label-default"
                                      ng-class="user.id>1?'label-warning':'label-info'"
                                      ng-hide="user==null">{{getUserName()}}</span><span ng-show="isMyTurn()">&larr;</span>
                </h1>
                <div class="input-group" ng-show="user==null">
                    <input class="form-control" ng-model="email" />
                    <span class="input-group-btn">
                        <button class=" btn btn-default" ng-click="login(email)">
                            Confirm
                        </button>
                    </span>
                </div>
                <div style="max-width:600px;">
                    <div ng-repeat="i in [0,1,2]">
                        <div class="cell" ng-repeat="j in [0,1,2]" ng-class="cell(i,j)==0?'':((cell(i,j)==1)?'x':'o')"
                             ng-click="move($parent.$index, $index)">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>